@charset "UTF-8";

html {
	font-family:sans-serif;
	line-height:1.15;
	-webkit-text-size-adjust:100%;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0)
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
	font-weight:400;
}
a {
	color:#70b942;
	text-decoration:none !important;
}
a:hover {
	color:#778f5b;
	text-decoration:underline
}
a:not([href]), a:not([href]):hover {
	color:inherit;
	text-decoration:none
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Saira Stencil One', sans-serif;
	font-weight: 400;
}

.bg-first > .container {
    position: relative;
}
.price-tag {
    position: absolute;
    right: 0;
    top: -13rem;
    height: 11rem;
    width: 11rem;
}
a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
    background-color: #0c8a08!important;
}


/* Sections */
.bg-first {
    background: url("../assets/img/backdrop.jpg");
    background-size: cover;
    box-shadow: inset 0 0 250px #000e;
    height: 57rem;
}
@media (max-width:991px) {
	.bg-first {
        height: 35rem;
    }
    .price-tag {
        top: -6rem;
        height: 6rem;
        width: 6rem;
    }
}
.bg-primary {
    background-color:#70b942 !important;
    transform: translate3d(0px, 0px, 0px);
}
.bg-secondary {
	background-color:#1e1e1c !important
}
.page-section {
	padding: 4rem 0;
}

.page-section.portfolio {
    background: url("../assets/img/camo.jpg");
    background-size: cover;
    padding: 0 0 0 0;
}





/* Close window button */
.btn-primary {
    background-color: #70b942;
    border-color: #66ab3a;
}
.btn-primary:hover {
    color: #fff;
    background-color: #427720;
    border-color: #3a6b1b;
}
.btn-primary.close-window {
    margin-bottom: 3rem; /* Gap so tap doesn't just show hidden iOS Safari menu bar */
}
/* Only show for small devices where the X close button will scroll off-screen */
@media (min-width:991px) {
    .btn-primary.close-window {
        display: none;
    }
}



/* Star divider */
.text-secondary {
	color:#2c3e50 !important;
}
.divider-custom {
	margin:1.25rem 0 1.5rem;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center
}
.divider-custom .divider-custom-line {
	width:100%;
	max-width:7rem;
	height:.25rem;
	background-color:#2c3e50;
	border-radius:1rem;
	border-color:#2c3e50 !important
}
.divider-custom .divider-custom-line:first-child {
	margin-right:1rem
}
.divider-custom .divider-custom-line:last-child {
	margin-left:1rem
}
.divider-custom .divider-custom-icon {
	color:#2c3e50 !important;
	font-size:2rem
}
.divider-custom.divider-light .divider-custom-line {
	background-color:#fff
}
.divider-custom.divider-light .divider-custom-icon {
	color:#fff !important
}






/* Navbar */
.navbar-brand.logo {
    filter: grayscale(1) brightness(1.5);
}
#mainNav {
	padding-top:1rem;
	padding-bottom:1rem;
	
    font-family: 'Saira Stencil One', sans-serif;
	font-weight: 400;
}
#mainNav .navbar-brand {
	color:#fff
}
#mainNav .navbar-nav {
	margin-top:1rem
}
#mainNav .navbar-nav li.nav-item a.nav-link {
    color:#fff;
    text-transform: uppercase;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
	color:#70b942
}
#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
	color:#fff
}
#mainNav .navbar-nav li.nav-item a.nav-link.active {
	color:#70b942
}
#mainNav .navbar-toggler {
	font-size:80%;
	padding:.8rem
}
@media (max-width:991px) {
	#mainNav {
        padding-top:0;
        padding-bottom:0;
    }
}
@media (min-width:992px) {
	#mainNav {
	    padding-top:1.5rem;
	    padding-bottom:1.5rem;
	    transition:padding-top .3s, padding-bottom .3s
	}
	#mainNav .navbar-brand {
	    font-size:1.75em;
	    transition:font-size .3s
	}
	#mainNav .navbar-nav {
	    margin-top:0
	}
	#mainNav .navbar-nav>li.nav-item>a.nav-link.active, #mainNav .navbar-nav>li.nav-item>a.nav-link.active:active, #mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus, #mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
	    color:#fff;
	    background:#70b942
	}
	#mainNav.navbar-shrink {
	    padding-top:.5rem;
	    padding-bottom:.5rem
	}
	#mainNav.navbar-shrink .navbar-brand {
	    font-size:1.5em
	}
}





/* Header image */
.masthead {
	padding-top:calc(6rem + 74px);
    padding-bottom:6rem;
    text-shadow: 3px 0px 6px #333;
}
.masthead .masthead-heading {
	font-size:2.75rem;
	line-height:2.75rem
}
.masthead .masthead-heading-sub {
	font-size: 3rem;
    padding-bottom: 2rem;
	line-height:2.75rem
}
.masthead .masthead-subheading {
    font-size:1.25rem
}
.masthead .masthead-subheading strong {
    font-weight: 700;
    font-size: 110%;
    text-transform: uppercase;
}
.masthead .masthead-avatar {
	width:15rem
}
@media (min-width:992px) {
	.masthead {
	    padding-top:calc(6rem + 104px);
	    padding-bottom:6rem
	}
	.masthead .masthead-heading {
	    font-size:4rem;
	    line-height:3.5rem
	}
	.masthead .masthead-subheading {
	    font-size:1.5rem
	}
}





/* Popup windows */
.portfolio .portfolio-item {
	cursor:pointer;
	position:relative;
	display:block;
	max-width:25rem;
	border-radius:.5rem;
	overflow:hidden
}
.portfolio .portfolio-item .portfolio-item-caption {
	position:absolute;
	top:0;
	left:0;
	transition:all .2s ease-in-out;
	opacity:0;
}
.portfolio .portfolio-item .portfolio-item-caption:hover {
	opacity:1
}
.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
	font-size:1.5rem
}
.portfolio-modal .portfolio-modal-title {
	font-size:2.25rem;
	line-height:2rem
}
@media (min-width:992px) {
	.portfolio-modal .portfolio-modal-title {
	    font-size:3rem;
	    line-height:2.5rem
	}
}
.portfolio-modal .close {
	position:absolute;
	z-index:1;
	right:1.5rem;
	top:1rem;
	font-size:3rem;
	line-height:3rem;
	color:#70b942;
	opacity:1
}
.modal-content {
    background: url(../assets/img/polaroid-paper.jpg);
    background-size: cover;
    position: relative;
}

.portfolio-img {
    box-shadow: 1px 2px 18px #48484852;
    border-radius: 0.5rem !important;
    filter: sepia(.75);
}

.battleground-location > img {
    filter: sepia(.75);
    border-radius: 0.5rem;
    box-shadow: 1px 2px 18px #48484852;
}

.battleground-location > p {
    font-size: 87%;
    margin-top: .2rem;
}




/* Equipment */
.equipment {
    height: 6rem;
    filter: contrast(60%);
    margin-left: 0.3rem;
}
.equipment:nth-child(odd) {
    transform: scaleX(-1);
}
.equipment-title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 2.75rem;
    color:#333;
    text-transform: uppercase;
}
.divider-equipment {
    margin:1.25rem 0 0.5rem;
	width:100%;
    display:flex;
}
.divider-equipment > .right {
    margin-left: auto;
}
.divider-equipment .divider-equipment-line {
	width:100%;
    max-width: 13rem;
    height: 0.7rem;
    background-color: #70b942;
	border-color:#70b942 !important
}


/* Gallery */
#gallery-carousel > .carousel-inner {
    border-radius: 1rem;
    margin-bottom: 1rem;
}

/* Map */
@media (max-width: 992px) {
    .location-item {
        width: 100% !important;
    }
}






/* Footer */
.treeline {
    background: url(../assets/img/Treeline.svg) repeat-x center top;
    width: 100%;
    background-size: 800px 1200px;
    height: 189px;
}


/* Contact buttons */
.btn-social {
	border-radius:100%;
	display:inline-flex;
	width:3.25rem;
	height:3.25rem;
	font-size:1.25rem;
	justify-content:center;
	align-items:center
}
.btn-outline-dark {
    color: #2e2e2e;
    border-color: #2e2e2e;
}
.btn-outline-dark:hover {
    color: #fff;
    background-color: #2e2e2e;
    border-color: #2e2e2e;
}

.footer {
	padding-top:5rem;
	padding-bottom:5rem;
    color:#2e2e2e;
    background: linear-gradient(180deg, #778f5b, #556542);
}
.copyright {
    background-color:#556542;
}
a:hover > .icon-contact {
    background-color:#778f5b;
}
.icon-contact {
	display:flex;
	height:5rem;
	width:5rem;
	align-items:center;
	justify-content:center;
	font-size:2rem;
	background-color:#70b942;
	color:#fff;
	border-radius:100%
}