/* Credits to https://zurb.com/playground/css3-polaroids */

.polaroids {
    margin-top: -4rem;
}
.polaroids div {
    background: #fff;
    background: url("../assets/img/polaroid-paper.jpg");
    background-size: cover;
    box-shadow: inset 0 0 250px #000e;
    
    cursor: pointer;

    margin: 0 1rem 2rem 1rem;

    display: block;
    max-width: 15rem;

    padding: 0.7rem .7rem 1.3rem;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    transition: .12s linear;
    transform: rotate(-2deg);
    
    font-family: 'Saira Stencil One', sans-serif;
    text-decoration: none;
    color: #333;
    font-size: 2.2rem;
}
@media (max-width:768px) {
	.polaroids div {
        max-width: 9rem;
        font-size: 1.2rem;
    }
}

.polaroids .film-dirt {
    position: absolute;
    top: 0;
    left: 0;
    padding: inherit;
    width: 100%;
    z-index: 2;
}

.polaroids img {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    filter: sepia(0.7);
}
.polaroids div:after {
    content: attr(title);
}
.polaroids div:hover {
    transform: scale(1.25) !important;
    box-shadow: 0 3px 6px rgba(0,0,0,.5);
    position: relative;
    z-index: 5;
}








/* By default, we tilt all our images -2 degrees */
.polaroids div {
    transform: rotate(-1deg);
}

/* Rotate all even images 2 degrees */
.polaroids div:nth-child(even) {
    transform: rotate(1deg);
}

/* Every third image, offset position */
.polaroids div:nth-child(3n) {
    position: relative;
    top: -5px;
}